body {
  text-align: center;
  position: relative;
}

.bird {
  width: 51px;
  height: 36px;
}

.secondBird {
  transform: rotate(45deg);
}

.score {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 60px;
  font-family: 'Press Start 2P' , sans-serif;
  color: black;
  position: absolute;
  top: 250px;
  left: 600px;
}